pkgbase = tsvi-devel-python
	pkgdesc = python development
	pkgver = 0.1.0
	pkgrel = 1
	arch = any
	depends = tsvi-devel
	depends = python
	depends = python-pipx
	depends = python-virtualenv

pkgname = tsvi-devel-python
