pkgbase = tsvi-devel-javascript
	pkgdesc = javascript development
	pkgver = 0.1.1
	pkgrel = 1
	arch = any
	depends = tsvi-devel
	depends = nodejs
	depends = npm
	depends = pnpm
	depends = typedoc

pkgname = tsvi-devel-javascript
