pkgbase = tsvi-utils
	pkgdesc = cli utilities
	pkgver = 0.1.0
	pkgrel = 1
	arch = any
	depends = tsvi-base
	depends = bash-completion
	depends = bat
	depends = bc
	depends = btop
	depends = ccase
	depends = eza
	depends = ffmpeg
	depends = htop
	depends = imagemagick
	depends = jq
	depends = less
	depends = man-db
	depends = man-pages
	depends = moreutils
	depends = ncdu
	depends = neovim
	depends = nvme-cli
	depends = pup
	depends = reflector
	depends = ripgrep
	depends = sd
	depends = speedtest-cli
	depends = strace
	depends = trash-cli
	depends = unzip
	depends = wget
	depends = zip

pkgname = tsvi-utils
